$color_blue_1: rgb(3, 0, 41);
$color_blue_2: rgb(1, 0, 65);
$color_blue_3: rgb(0, 2, 122);
$color_blue_4: rgb(0, 3, 206);

$color_black_1: rgb(0, 0, 0);
$color_black_2: rgb(49, 49, 49);
$color_black_3: rgb(122, 122, 122);
$color_black_4: rgb(184, 184, 184);
$color_black_5: rgb(255, 255, 255);